header {
    
    height: 100px;
    color: black;
    text-align: center;
    font-family: 'Covered By Your Grace', cursive;
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}   

.acceuil, .contact {
    display: block;
    border: 2px solid black;
    border-radius: 20px;
    height: 100px;
    color: aliceblue;
    width: 150px;
    
}



.containerCard{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    
}
.card{
    font-family: 'Covered By Your Grace', cursive;
    font-family: 'Permanent Marker', cursive;
    width: 580px;
    min-height: 100px;
    text-align: left;
    background-size: cover; 
    color:black; 
    font-size: 2em; 
}

.card:hover {
    background-size: cover;
    background-position: center;
    scale: 1.05;
    transition: 2s;
}

.containerButtonCard {
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    
    
}
.button{
    border: none;
    width: 141.5px;
}
.button:hover {
    scale: 1.1;
}




footer {
    margin-top: 50px;
    height: 300px;
    color: aliceblue;
    background-color: black;
   
}

body {
    background-image: url(background_index.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: none;
}
        


