header { 
    height: 100px;
    color: white;
    text-align: center;
    font-family: 'Covered By Your Grace', cursive;
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black; 
}   

.acceuil, .contact {
    display: block; 
    height: 100px;
    color: aliceblue;
    width: 150px;   
}

.card{
    font-family: 'Covered By Your Grace', cursive;
    font-family: 'Permanent Marker', cursive;
    text-align: left;
    background-size: cover; 
    color : white; 
    
}

.card:hover {
    background-size: cover;
    background-position: center;
    transition: 2s;
}

.button{
    font-family: 'Covered By Your Grace', cursive;
    font-family: 'Permanent Marker', cursive;
    border: none;
    width: 200px;
    height: 65px;
    font-size: 1.5em;
    
}
.button:hover {
    scale: 1.1; 
}

.global{
    width : 100%;
}

nav {
    float: left;
    width: 200px;
    height: 845px;
}

footer {
    margin-top: 50px;
    height: 300px;
    color: aliceblue;
    background-color: black;
    display: none;
   
}

body {
    background-image: url(background_index.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: none;
}
        


