header {
    margin-bottom: 100px;
    height: 100px;
    color: black;
    text-align: center;
    font-family: 'Covered By Your Grace', cursive;
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}   

.acceuil, .contact {
    display: block;
    border: 2px solid black;
    border-radius: 20px;
    height: 100px;
    color: aliceblue;
    width: 150px;
    
}

footer {
    margin-top: 50px;
    height: 300px;
    color: aliceblue;
    background-color: black;
   
}

body {
    background-color: white;
    background-size: cover; 
}
        

h1 {
    display: none;
}



